In [23]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(list_1))
list_1.append(10)
print(list_1)

12 in list_1

9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

False

In [40]:
list_1 = [1, 2, 3, 4, 5]
print(list_1)

list_2 = [10, 11, 12, 13, 14, 15]
print(list_2)

full_list = list_1 + list_2
full_list.pop(-1)
print(full_list)

full_list.sort(reverse=True)
print(full_list)

full_list.count(3)

[1, 2, 3, 4, 5]
[10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 10, 11, 12, 13, 14]
[14, 13, 12, 11, 10, 5, 4, 3, 2, 1]

1

In [50]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
tmp_list = list(my_tuple)
print(tmp_list)

part_1_tmp_list = (tmp_list[-1])
print(part_1_tmp_list)

part_2_tmp_list = (part_1_tmp_list[-1])
print(part_2_tmp_list)

print(part_2_tmp_list[-1])

[1, 2, ['3', 4, 5], [6, [7, 8]]]
[6, [7, 8]]
[7, 8]
8

In [58]:
for number in range(1,11):
    print(f'Your number in {number}')

list_1 = list(range(1,51))
print(sum(list_1))

for number in range(1,51):

Your number in 1
Your number in 2
Your number in 3
Your number in 4
Your number in 5
Your number in 6
Your number in 7
Your number in 8
Your number in 9
Your number in 10
1275

In [59]:
for number in range(21):
    if (number % 3 == 0 ):
        print(number)

10

In [61]:
suma = 0
for number in range(1, 51):
    if (number + suma) % 2 == 0:
        suma += number
        print (suma)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [65]:
number = input("Enter your number: ")
number = int(number)

if (number ** 2) % 2 != 0:
    for num in range(1,11):
        print (num * number)
else:
    print ("Number is not good.")

# ** 2 kelia kvadratu
# ** 3 kelia kubu

5
10
15
20
25
30
35
40
45
50

In [72]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

tinkamos_dienos = ['Pirmadienis', 'Treciadienis']
for diena in tinkamos_dienos:
    for valanda in range(12,18):
        kombinacijos.append( (diena, valanda) )

print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

In [83]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update( {'color': "red", 'used': True})
print(car)

car['year'] = None
del car["brand"]

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

In [90]:
fruits = {"apple", "banana", "cherry"}
fruits.add(('nauja reiksme', 5))

print(fruits)

{'apple', 'banana', ('nauja reiksme', 5), 'cherry'}